* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#explore, #universe {
  background-image: url(../assets/mountains-universe-3.svg);
  background-size: cover;
  background-repeat: no-repeat;
  
  width: 100%;
  height: 100vh;

  padding: 72px 44px;
}

#universe {
  background-image: url(../assets/mountains-universe-2.svg);
}

nav {
  display: flex;
  gap: 43px;

  align-items: center;
}

nav a {
  font-size: 24px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bold;
}

nav a img {
  height: 42px;
  width: 50px;
}

h1 {
  margin-bottom: 16px;
}

h1, p {
  font-size: 48px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 18px;
  font-weight: 100;
}

#universe .main, #explore .main {
  width: 650px;
  padding-top: 64px;
  padding-left: 104px;
}